/* Breadcrumbs Styling */

.breadcrumbs {
	@extend %delist;
	margin: 2rem 0;
	display: flex;
	color: $light_text;

	li {

		a {
			color: $light_text;
		}
	
		&:not(:last-child)::after {
			content: ">";
			padding: 0.5rem;
		}
	}
}