// Tick List Styling

.ticklist {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1rem;

	li {
		margin-bottom: 1rem;
		font-size: 1em;

		&:before {
			@extend %fa-icon;
			@extend .far;
			content: fa-content($fa-var-check-circle);
			color: $color1;
			padding-right: 0.5rem;
			font-size: 1em;
		}
	}

	// Big Icons
	&.big {
		li {
			font-size: 1.2rem;
			margin-bottom: 1.5rem;

			&:before {
				font-size: 2rem;
			}
		}
	}
}