// Legal Stylesheets

.legal {
	h1 {
		font-size: 2rem;

		@media #{$medium-up} {
			font-size: 3rem;
		}

		@media #{$large-up} {
			font-size: 3.5rem;
		}
	}

	h3 {
		color: $black;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
	}
}

.content-lock {
	p, a {

	  /* These are technically the same, but use both */
	  overflow-wrap: break-word;
	  word-wrap: break-word;

	  -ms-word-break: break-all;
	  /* This is the dangerous one in WebKit, as it breaks things wherever */
	  word-break: break-all;
	  /* Instead use this non-standard one: */
	  word-break: break-word;

	  /* Adds a hyphen where the word breaks, if supported (No Blink) */
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;
	}
}